* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #FFF7F8;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/* WRAPPER */
.wrapper {
  display: grid;
  place-items: center;
}

/* WRAPPER TEXT */
.wrapper-text {
  padding: 0.2em;
}
.wrapper-text h1,
.buttons {
  text-align: center;
  margin: 0.2em 0;
  padding: 0.5em;
}
.wrapper-text h1{
  color: hwb(327 52% 19%);
}
.btn {
  border: 2px solid purple;
  width: 90px;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 1em;
  background: none;
}
.btn:hover {
  color: white;
  background-color: rgb(223, 189, 254);
}

/* MENU CONTAINER */
.menu-container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
}
.card {
  display: flex;
  margin: 1em;
  gap: 1em;
}
.img {
  width: 40%;
  border-radius: 5px;
}
.img img {
  margin: 10px auto;
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-radius: 5px;
  box-shadow: rgba(206, 132, 173, 0.35) 0px 5px 15px;
}
.card-text {
  width: 50%;
}
.card-text-header {
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
  color: hwb(327 52% 19%);
  text-transform: capitalize;
  font-size: 1.2rem;
  border-bottom: 1px dotted #800080;
}
.card-description {
  line-height: 1.5;
  padding: 0.5em 0;
}
